.LeRobot {
  width: 100%;
  min-height: 100vh;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LeRobotSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.LeRobotSection h1 {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 40px;
  font-weight: 600;
}

.downloadList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  max-width: 90%;
  margin-bottom: 150px;
}

.lerobot_download_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

/* .lerobot_download_card:hover {
  background-color: #272727;
} */

.card_texts {
  display: flex;
  flex-direction: column;
}

.card_title {
  color: #ffffff;
  font-weight: 500;
  margin: 0;
}

.card_date {
  color: #b0b0b0;
  font-size: 12px;
}

.card_download {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #303030; */
  padding: 8px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.card_download:hover {
  background-color: #333333;
}
