.AboutSection{
    padding: 100px 0px 20px 180px;
    display: flex;
    position: relative;
}
.AboutSection_text{
    height: 100%;
    /* border: 1px solid black; */
    flex: 1;
}
.AboutSection_image_wrap{
    height: 100%;
    /* border: 1px solid black; */
    flex: 1;
    position: relative;
}

.AboutSection_text h1{
    font-size: 48px;
    color: white;
}
.AboutSection_text h1:nth-of-type(2) {
    color: #1e5ef3;
    margin: 0px 0px 10px 0px;
}

.AboutSection_text{
    font-size: 17px;
    color: white
}
.AboutSection_card {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin: 40px 0px 10px 0px;
    /* border: 1px solid black; */
}
.AboutSection_card li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 200px;
    height: 160px;
    padding: 20px;
    border-radius: 17px;
    /* background-color: rgb(249, 253, 255); */
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.AboutSection_card li:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}
.AboutSection_card li span{
    font-size: 11px;
    margin: 10px 0px;
}
.AboutSection_card li p {
    margin: 5px 0px;
    color: white;
}

.AboutSection_image1 img,
.AboutSection_image2 img{
    width: 100%;
    height: 100%;
    border-radius:17px;
    object-fit: cover;
}
.AboutSection_image1{
    width: 500px;
    height: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    background-color: white;
    border-radius:17px;
    overflow: hidden;
    transition: transform 0.3s ease; 
    z-index: 2;
}
.AboutSection_image2{
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 5px;
    background-color: white;
    border-radius:17px;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
    transition: transform 0.3s ease; 
    z-index: 3;
}
.AboutSection_image1:hover,
.AboutSection_image2:hover{
    transform: scale(1.02);
}

.About_dotted1, .About_dotted2{
    position: absolute;
    border-radius: 50%;
}

.About_dotted1 {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 48, 204, 0.3);
    bottom: 0px;
    right: 50px;
    animation: pulse 10s ease-in-out infinite;
    border-radius: 50%;
}

.About_dotted2{
    width: 25px;
    height: 25px;
    background-color: rgb(0, 28, 184);
    top: 200px;
    left: 50px;
    animation: pulse 7s ease-in-out infinite;
}