.Company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.Company span {
  width: 100%;
  height: 50px;
  font-size: 17px;
}

.Company h1 {
  width: 100%;
  height: 70px;
  font-size: 36px;
}

.company_card {
  width: 100%;
  height: 150px;
  display: flex;
  overflow: hidden;
  margin-top: 70px;
  position: relative;
}

.company_card_inner {
  display: flex;
  animation: scrollLeft 120s linear infinite;
}

.company_card li {
  min-width: 400px;
  height: 100%;
  padding: 20px;
  flex-shrink: 0;
}

.company_card li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 900px) {
.company_card {
    height: 100px;
}
.company_card_inner {
  animation: scrollLeft 60s linear infinite;
}
.company_card li {
    min-width: 300px;
}
}

@media (max-width: 600px) {
    .Company h1 {
        font-size: 28px;
    }
}
@media (max-width: 500px) {
        .Company h1 {
        font-size: 23px;
    }
    .company_card li {
    padding: 20px 0px;
    min-width: 250px;
}
}