.FooterSection2{
  padding: 20px 180px 20px 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.FooterSection2 h1{
    font-size: 52px;
    color: white;
    /* border: 1px solid white; */
    width: 400px;
    font-weight: 500;
}
.FooterSection2 ul{
    /* border: 1px solid white; */
    width: 400px;
    color: white;
}
.FooterSection2 ul li{
    color: white;
    margin: 5px 0px;
    font-size: 18px;
}
.footer_logo{
    display: flex;
    margin-top: 50px;
}
.footer_logo img{
    width: 180px;
    height: 40px;
}
.footer_logo :nth-child(2){
    margin: 0px 30px;
}