.HeroSection{
    padding: 100px 180px 20px 180px;
    display: flex;
}
.HeroSection_text{
    height: 100%;
    /* border: 1px solid black; */
    flex: 1;
}
.title_tag{
    width: fit-content;
    border-radius: 17px;
    height: 40px;
    padding: 0px 15px;
    margin: 20px 0px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}
.title_tag span{
    margin: 0px 15px;
    color: 
    #00bbff;
}
.HeroSection_text h1{
    font-size: 62px;
}
.HeroSection_text h1:nth-of-type(2) {
    color: #00bbff;
    margin: 0px 0px 10px 0px;
}
.HeroSection_text p{
    width: fit-content;
    font-size: 18px;
    margin: 5px 0px;
}
.HeroSection_button{
    display: flex;
    margin: 30px 0px;
}
.HeroSection_button button{
    height: 45px;
    width: 150px;
    border-radius: 7px;
    outline: none;
}
.product_button{
    background-color: #00bbff;
    border: 1px solid #0097ce;
    transition: background 0.3s ease-in-out;
}
.product_button:hover{
    background-color: #0097ce;
}
.product_button span{
    color: white;
    font-size: 14px;
    margin: 0px 10px;
}
.video_button{
    margin: 0px 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease-in-out;
}
.video_button:hover{
    background-color: white;
}
.video_button span{
    margin: 0px 10px;
    font-size: 14px;
}

.HeroSection_card{
    width: fit-content;
    display: flex;
    height: 180px;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 20px 0px;
}

.HeroSection_card li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: fit-content;
}
.HeroSection_card li:nth-child(2){
    margin: 0px 120px;
}

.HeroSection_card li div{
    border-radius: 7px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 204, 255, 0.1);
}

.HeroSection_card li span{
    font-size: 12px;
    color: gray;
}
.HeroSection_tag{
    display: flex;
    height: 80px;
    margin: 10px 0px;
}
.HeroSection_tag li{
    display: flex;
}
.HeroSection_tag li span{
    font-size: 13px;
}
.HeroSection_tag li:nth-child(2){
    margin: 0px 25px;
}
.circle{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 7px;
    background-color: #0097ce;
}
.HeroSection_image_wrap{
    height: 100%;
    /* border: 1px solid black; */
    flex: 1.2;
    position: relative;
}
.HeroSection_image1 img,
.HeroSection_image2 img,
.HeroSection_image3 img{
    width: 100%;
    height: 100%;
    border-radius:17px;
    object-fit: cover;
}

.HeroSection_image1{
    width: 500px;
    height: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    background-color: white;
    border-radius:17px;
    overflow: hidden;
    transition: transform 0.3s ease; 
    z-index: 2;
}

.HeroSection_image2{
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 5px;
    background-color: white;
    border-radius:17px;
    position: absolute;
    top: 80px;
    left: 80px;
    overflow: hidden;
    transition: transform 0.3s ease; 
    z-index: 3;
}
.HeroSection_image3{
    width: 300px;
    height: 200px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 7px;
    background-color: white;
    border-radius: 17px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    transition: transform 0.3s ease; 
    z-index: 3;
}

.HeroSection_image1:hover,
.HeroSection_image2:hover,
.HeroSection_image3:hover {
    transform: scale(1.02); /* 5% 확대 */
}

.dotted1, .dotted2, .dotted3{
    position: absolute;
    border-radius: 50%;
}
.dotted1 {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 151, 206, 0.3);
  bottom: 60px;
  left: 60px;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
}
.dotted2{
    width: 60px;
    height: 60px;
    background-color: rgba(0, 151, 206, 0.7);
    top: 80px;
    right: 150px;
    animation: pulse 7s ease-in-out infinite;
}
.dotted3{
    width: 30px;
    height: 30px;
    background-color: rgb(0, 151, 206);
    right: 60px;
    animation: pulse 7s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9); /* 살짝 작아짐 */
  }
  100% {
    transform: scale(1); /* 다시 원래 크기 */
  }
}