.HeroSection {
  padding: 100px 180px 20px 180px;
  display: flex;
  align-items: center;
  position: relative;
}

.HeroSection_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  transition: opacity 0.3s ease;
}

.HeroSection_popUp {
  width: 60%;
  aspect-ratio: 16/9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  border-radius: 7px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.HeroSection_popUp.open {
  opacity: 1;
  visibility: visible;
}

.HeroSection_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.HeroSection_text h1 {
  font-size: 62px;
  color: white;
}

.HeroSection_text h1:nth-of-type(2) {
  color: #1e5ef3;
  margin: 0px 0px 10px 0px;
}

.HeroSection_text p {
  width: fit-content;
  font-size: 18px;
  margin: 5px 0px;
  color: white;
}

.HeroSection_button {
  display: flex;
  margin: 30px 0px;
}

.HeroSection_button button {
  height: 45px;
  width: 150px;
  border-radius: 7px;
  outline: none;
}

.product_button {
  background-color: rgba(30, 94, 243, 0.1);
  border: 1px solid #1e5ef3;
  transition: background 0.3s ease-in-out;
}

.product_button:hover {
  background-color: #1e5ef3;
}

.product_button span {
  color: white;
  font-size: 14px;
  margin: 0px 10px;
  transition: background 0.3s ease-in-out;
}

.video_button {
  margin: 0px 20px;
  border: 1px solid white;
  background-color: #181818;
  transition: background 0.3s ease-in-out;
}

.play_icon {
  color: white;
  transition: background 0.3s ease-in-out;
}

.video_button span {
  margin: 0px 10px;
  font-size: 14px;
  color: white;
}

.video_button:hover {
  background-color: white;
}

.video_button:hover span {
  color: black;
}

.video_button:hover .play_icon {
  color: black;
}

.HeroSection_card {
  width: fit-content;
  display: flex;
  height: 180px;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 20px 0px;
}

.HeroSection_card li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: fit-content;
}

.HeroSection_card li:nth-child(2) {
  margin: 0px 120px;
}

.HeroSection_card li div {
  border-radius: 7px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 102, 255, 0.2);
}

.HeroSection_card li span {
  font-size: 12px;
  color: white;
}

.HeroSection_tag {
  display: flex;
  height: 80px;
  margin: 10px 0px;
}

.HeroSection_tag li {
  display: flex;
}

.HeroSection_tag li span {
  font-size: 13px;
  color: white;
}

.HeroSection_tag li:nth-child(2) {
  margin: 0px 40px;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 7px;
  background-color: #1e5ef3;
}

.HeroSection_image_wrap {
  height: 100%;
  min-width: 850px;
  max-width: 850px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroSection_image1 img,
.HeroSection_image2 img,
.HeroSection_image3 img {
  width: 100%;
  height: 100%;
  border-radius: 17px;
  object-fit: cover;
}

.HeroSection_image1 {
  width: 500px;
  height: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 10px;
  background-color: white;
  border-radius: 17px;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 2;
}

.HeroSection_image2 {
  width: 200px;
  height: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 5px;
  background-color: white;
  border-radius: 17px;
  position: absolute;
  top: 15%;
  left: 5%;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 3;
}

.HeroSection_image3 {
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 7px;
  background-color: white;
  border-radius: 17px;
  position: absolute;
  bottom: 10%;
  right: 1%;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 3;
}

.HeroSection_image1:hover,
.HeroSection_image2:hover,
.HeroSection_image3:hover {
  transform: scale(1.02);
}

.Hero_dotted1,
.Hero_dotted2,
.Hero_dotted3 {
  position: absolute;
  border-radius: 50%;
}

.Hero_dotted1 {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 48, 204, 0.3);
  bottom: 60px;
  left: 60px;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
}

.Hero_dotted2 {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 81, 255, 0.7);
  top: 60px;
  right: 150px;
  animation: pulse 7s ease-in-out infinite;
}

.Hero_dotted3 {
  width: 30px;
  height: 30px;
  background-color: rgb(0, 28, 184);
  right: 60px;
  animation: pulse 7s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1700px) {
  .HeroSection {
    padding: 100px 60px 20px 100px;
    justify-content: space-around;
  }
}

@media (max-width: 1530px) {
  .HeroSection_image1 {
    width: 450px;
    height: 350px;
    padding: 5px;
  }
  .HeroSection_image_wrap {
    min-width: 700px;
    max-width: 700px;
  }
  .HeroSection_image2 {
    width: 180px;
    height: 120px;
    top: 20%;
    left: 5%;
  }
  .HeroSection_image3 {
    width: 250px;
    height: 180px;
    bottom: 15%;
  }
}

@media (max-width: 1340px) {
  .HeroSection_image_wrap {
    display: none;
  }
  .HeroSection_text {
    align-items: center;
  }
  .HeroSection {
    padding: 60px 30px 20px 30px;
    justify-content: space-around;
  }
}

@media (max-width: 900px) {
  .HeroSection_text h1 {
    font-size: 48px;
  }
  .HeroSection_text p {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .HeroSection_text h1 {
    font-size: 42px;
  }
  .HeroSection_text p {
    font-size: 14px;
  }
  .HeroSection_tag li:nth-child(2) {
    margin: 0px 25px;
  }
  .HeroSection_tag li span {
    font-size: 11px;
  }
  .HeroSection_card li {
    transform: scale(0.8);
  }
  .HeroSection_button button {
    width: 120px;
  }
  .HeroSection_button button span {
    font-size: 11px;
  }
  .HeroSection_card {
    height: 150px;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .HeroSection_text_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .HeroSection_text p {
    text-align: center;
  }
  .HeroSection {
    padding: 60px 10px 20px 10px;
    justify-content: space-around;
  }
  .video_button {
    margin: 0;
  }
  .HeroSection_button button {
    margin: 0px 10px;
  }
}

@media (max-width: 400px) {
  .HeroSection_text_wrap p br {
    display: none;
  }
  .HeroSection_tag li:nth-child(2) {
    margin: 0px 20px;
  }
  .HeroSection_card li:nth-child(2) {
    margin: 0px 70px !important;
  }
}