.HistorySection {
  padding: 90px 180px 20px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HistorySection h1 {
  color: #1e5ef3;
  font-size: 42px;
  margin: 10px 0px;
}

.HistorySection p {
  color: white;
  font-size: 18px;
  margin: 10px 0px;
}

.history {
  width: 100%;
  position: relative;
  margin: 90px 0px 50px 0px;
}

.history_line {
  width: 7px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: linear-gradient(
    to bottom,
    rgb(180, 180, 180) 0%,
    rgb(80, 80, 200) 50%,
    rgb(20, 20, 80) 100%
  );
}

.history_card_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 150px;
  position: relative;
}

.history_card_wrap.left {
  justify-content: flex-start;
}

.history_card_wrap.right {
  justify-content: flex-end;
}

.history_card {
  width: 480px;
  min-height: 150px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 45px;
  border: 1px solid rgb(55, 55, 54);
  background: transparent;
  background-color: rgba(24, 24, 24, 0.808);
}

.history_card h3 {
  font-size: 24px;
  color: #1e5ef3;
  margin: 10px 0;
  font-weight: 600;
}

.history_card ul {
  list-style-type: disc;
  margin: 20px 0px 10px 0px;
}
.history_card ul li{
  display: flex;
  justify-content:space-between;
}

.project_item {
  font-size: 15px;
  color: white;
  margin: 10px 0;
}

.HistorySection_footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  margin: 50px 0px;
}
.HistorySection_footer li h1 {
  font-size: 42px;
}
.HistorySection_footer li:nth-child(1) h1 {
  background: linear-gradient(45deg, #007bff, #0056b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.HistorySection_footer li:nth-child(2) h1 {
  background: linear-gradient(45deg, #6f42c1, #9b59b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.HistorySection_footer li:nth-child(3) h1 {
  background: linear-gradient(45deg, #fd7e14, #e63946);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.HistorySection_footer span {
  color: white;
}
.HistorySection_footer li {
  flex: 1;
  border: 1px solid rgb(100, 100, 100);
  height: 100%;
  border-radius: 21px;
  padding: 10px 0px 20px 0px;
}

.HistorySection_footer li:nth-child(2) {
  margin: 0px 30px;
}

.History_dotted1,
.History_dotted2,
.History_dotted3,
.History_dotted4,
.History_dotted5,
.History_dotted6 {
  position: absolute;
  border-radius: 50%;
}


.History_dotted1 {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 48, 204, 0.3);
  bottom: 10%;
  left: 20%;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
}

.History_dotted2 {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 48, 204, 0.6);
  bottom: 10%;
  right: 20%;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
}

.History_dotted3 {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 48, 204, 0.6);
  bottom: 45%;
  right: 20%;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
}

.History_dotted4 {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 48, 204, 0.4);
  bottom: 55%;
  left: 2%;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
}

.History_dotted5 {
    width: 400px;
  height: 400px;
  background-color: rgba(0, 48, 204, 0.2);
  bottom: 70%;
  right: 2%;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
}

.History_dotted6 {
    width: 50px;
  height: 50px;
  background-color: rgba(0, 48, 204, 0.8);
  bottom: 90%;
  left: 35%;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1340px) {
      .HistorySection {
      padding: 60px 180px 20px 180px;
  }
}
@media (max-width: 1500px) {
  .HistorySection {
    padding: 60px 50px 20px 50px;
  }
}
@media (max-width: 1200px) {
  .history div {
    justify-content: center !important;
    margin: 80px 0px;
  }
  .history_card {
    margin: 0px !important;
  }
  .HistorySection_card_wrap {
    margin: 0 !important;
  }
  .HistorySection {
    min-height: 320vh;
  }
}

@media (max-width: 800px) {
  .HistorySection_text h1 {
    font-size: 32px;
  }
  .HistorySection_text p {
    font-size: 14px;
    text-align: center;
  }
  .HistorySection_footer_couter {
    font-size: 25px !important;
  }
  .HistorySection_footer li span {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .HistorySection {
    padding: 60px 15px 20px 15px;
  }
  .HistorySection_footer li:nth-child(2) {
    margin: 0px 10px;
  }
}

@media (max-width: 500px) {
  .history_card {
    width: 320px;
    padding: 15px;
  }

  .history_card li {
    font-size: 12px;
  }
  .history_card h3 {
    font-size: 20px;
  }
}

@media (min-height: 1000px) {
  .HistorySection {
    min-height: 260vh !important;
  }
}