.HeroSection,
.AboutSection,
.ProductsSection, 
.TestimonialsSection,
.HistorySection,
.ContactSection{
    width: 100%;
    height: 100svh;
    /* background-color: #fafafa; */
    /* border: 1px solid black; */
}