.HeroSection,
.AboutSection,
.ProductsSection,
.ProductsSection2,
.TestimonialsSection,
.HistorySection,
.ContactSection,
.QuestionSection,
.FooterSection,
.ProjectSection {
  width: 100%;
  height: 100svh;
  min-height: 100svh;
  background-color: #181818;
  /* border: 1px solid black; */
}

.ProjectSection{
  min-height: fit-content;
  background-color: rgb(252, 252, 252)
}

.Company {
  width: 100%;
  height: 60svh;
}

.ProductsSection {
  min-height: 250svh;
}

.HistorySection {
  min-height: 280vh;
}
.QuestionSection {
  min-height: 140vh;
  /* height: fit-content; */
}
.ContactSection{
    height: 110vh;
}
.FooterSection{
  min-height: 70svh;
  background-color: #131313;
}
.FooterSection2{
  min-height: 40svh;
  background-color: #131313;
}
.title_tag {
  width: fit-content;
  border-radius: 17px;
  height: 40px;
  padding: 0px 15px;
  margin: 20px 0px;
  background-color: rgb(50, 50, 50);
  box-shadow: inset 0 2px 6px #181818;
}
.title_tag span {
  margin: 0px 15px;
  color: white;
  font-size: 12px;
}
