.ProductsSection {
  padding: 100px 180px 20px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProductsSection h1 {
  color: white;
  font-size: 42px;
  margin: 10px 0px;
}

.ProductsSection p {
  color: white;
  font-size: 18px;
  margin: 10px 0px;
}

.main_product {
  width: 100%;
  height: 700px;
  border: 1px solid rgb(100, 100, 100);
  margin: 60px 0px;
  border-radius: 17px;
  padding: 20px;
  display: flex;
}

.main_product_image {
  flex: 1;
  border-radius: 17px;
  overflow: hidden;
  border: 1px solid rgb(100, 100, 100);
  position: relative;
}

.main_product_image span {
  width: 100px;
  height: 35px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 17px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
}

.main_product_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.main_product_image img:hover {
  transform: scale(1.05);
}

.main_product_text {
  padding: 80px 100px;
}

.main_product_text h1 {
  margin: 10px 0px;
}

.main_product_text p {
  margin: 10px 0px 30px 0px;
  font-size: 14px;
}

.main_product_text ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 10px;
  row-gap: 20px;
  margin: 40px 0px;
}

.main_product_text_icon {
  width: 35px;
  height: 35px;
  background-color: rgba(30, 94, 243, 0.1);
  border-radius: 50%;
}
.main_product_text ul li {
  display: flex;
}

.main_product_text ul li span {
  color: white;
  margin: 0px 15px;
  font-size: 14px;
}

.main_product_button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: rgba(30, 94, 243, 0.1);
  border: 1px solid #1e5ef3;
  transition: background 0.3s ease-in-out;
  margin: 40px 0px;
}

.main_product_button span {
  color: white;
  font-size: 15px;
  margin-right: 10px;
}
.left_icon {
  transition: all 0.3s ease;
}
.main_product_button:hover .left_icon {
  transform: translateX(10px);
}

.main_product_button:hover {
  background-color: #1e5ef3;
}

.sub_product {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_product1,
.sub_product2 {
  width: calc(50% - 20px);
  height: 100%;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 21px;
  padding: 25px;
}

.sub_product_image {
  width: 100%;
  height: 450px;
  border-radius: 21px;
  overflow: hidden;
  position: relative;
}

.sub_product_image span {
  width: 100px;
  height: 35px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 17px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 14px;
  z-index: 2;
}

.sub_product_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.sub_product_image img:hover {
  transform: scale(1.05);
}

.sub_product_text {
  height: calc(100% - 450px);
  padding: 25px;
}

.sub_product_text p {
  font-size: 24px;
  font-weight: bold;
}
.sub_product_text span {
  color: white;
  font-size: 16px;
}
.sub_product_text ul {
  width: fit-content;
  margin: 30px 0px 50px 0px;
}

.sub_product_text ul li {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.sub_product_text ul li span {
  font-size: 14px;
  margin: 0px 10px;
}

.sub_product_text_icon {
  width: 30px;
  height: 30px;
  background-color: rgba(30, 94, 243, 0.1);
  border-radius: 50%;
}

.sub_product_text button {
  width: 100%;
  height: 45px;
  border-radius: 21px;
  background-color: #1e5ef3;
  outline: none;
  border: none;
  transition: background 0.3s ease;
}
.sub_product_text button:hover {
  background-color: #0047ec;
}
.sub_product_text button span {
  margin: 0px 10px;
  font-size: 14px;
}

.more_product {
  border: 1px solid #1e5ef3;
  background-color: rgba(30, 94, 243, 0.1);
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 7px;
  margin-top: 50px;
  color: white;
  transition: background 0.3s ease-in-out;
}
.more_product span {
  margin: 0px 10px;
}

.more_product:hover {
  background-color: #1e5ef3;
}
