.ProjectSection {
  padding: 100px 50px 60px 50px;
  background: #181818;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_tag {
  gap: 8px;
  font-size: 14px;
  opacity: 0.8;
}

.ProjectSection h1 {
  font-size: 28px;
  margin: 20px 0 50px;
}

.project_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.project_card {
border: 1px solid rgb(100, 100, 100);
  border-radius: 16px;
  height: 380px;
  padding: 40px 25px;
  text-align: left;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 80px;
}

.project_card:hover {
  transform: translateY(-8px) scale(1.01);
  box-shadow: 0 8px 24px rgba(0,0,0,0.4);
}

.project_img {
  height: 40px;
  object-fit: contain;
  margin-bottom: 12px;
 filter: brightness(0) invert(1);
}

.project_card h3 {
 margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #1e5ef3;
}

.project_title {

  font-size: 15px;
  font-weight: bold;
  color: white
}

.project_desc {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}
