.ProjectSection {
  padding: 90px 50px 80px 50px;
  background: #fdfdfd;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
    /* position: relative; */
}

.title_tag {
  gap: 8px;
  font-size: 14px;
  opacity: 0.8;
}

.ProjectSection_text h1 {
  font-size: clamp(21px, 4vw, 28px);
  text-align: center;
  margin: 20px 0 50px;
}
.ProjectSection_text span{
  font-weight: bold;
}

.project_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.project_card {
  border-radius: 16px;
  height: 380px;
  padding: 40px 25px;
  text-align: left;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 80px;
}

.project_card:hover {
  transform: translateY(-8px) scale(1.01);
  box-shadow: 0 8px 24px rgba(0,0,0,0.4);
}

.project_img {
  height: 40px;
  object-fit: contain;
  margin-bottom: 12px;
}

.project_card h3 {
 margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.project_title {

  font-size: 15px;
  font-weight: bold;
  color: white
}

.project_desc {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}

/* .Project_dotted1,
.Project_dotted2,
.Project_dotted3 {
  position: absolute;
  border-radius: 50%;
}


.Project_dotted1 {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 48, 204, 0.3);
  top: 1%;
  right: 1%;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
  z-index: 1;
}

.Project_dotted2 {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 48, 204, 0.6);
  bottom: 10%;
  right: 20%;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
}

.Project_dotted3 {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 48, 204, 0.6);
  bottom: 45%;
  right: 20%;
  animation: pulse 7s ease-in-out infinite;
  border-radius: 50%;
} */

@media (max-width: 1340px) {
.project_card {
  margin-top: 10px;
  }
}

@media (max-width: 700px) {
.ProjectSection {
  padding: 90px 10px 80px 10px;
}
}