.TestimonialsSection{
    padding: 100px 180px 20px 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TestimonialsSection h1{
    font-size: 42px;
    margin: 10px 0px;
    color: white;
}

.TestimonialsSection h1:nth-child(3){
    color: #1e5ef3;
}

.TestimonialsSection p{
    color: white;
    margin: 15px 0px;
}
.TestimonialsSection_card{
    width: 100%;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
}
.TestimonialsSection_card li{
    flex: 1;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px;
    border-radius: 21px;
    background-color: rgb(30, 30, 30);
}
.TestimonialsSection_card p{
    font-size: 15px;
    margin: 30px 0px;
}
.TestimonialsSection_card li:nth-child(2){
    margin: 0px 30px;
}

.TestimonialsSection_user{
    display: flex;
    align-items: center;
}
.user_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.user_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user_info span{
    color: white;
}

.user_info P:nth-child(1){
    margin: 10px 0px;
}

.user_info P:nth-child(2){
    margin:0px;
    font-size: 13px;
}
.user_info P:nth-child(3){
    margin: 0px;
    color: #1e5ef3;
    font-size: 13px;
}
