.Bar {
  width: 100%;
  height: 90px;
  background-color: #181818; /* 기본: 진한 검정 */
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 140px;
}
.Bar.shadow {
  background: rgba(24, 24, 24, 0.6); /* 반투명 */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.logo {
  width: 240px;
  height: 90px;
  padding: 15px 30px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.bar_menu {
  height: 100%;
}
.bar_menu li {
  width: fit-content;
  list-style: none;
  margin: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  height: 40px;
  color: white;
}
.bar_menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1e5ef3;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.bar_menu li:hover::after {
  transform: scaleX(1);
}
.contact_us {
  width: 200px;
  height: 100%;
}
.contact_us_button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: #1e5ef3;
  transition: background 0.3s ease-in-out;
}
.contact_us_button span {
  color: white;
  font-size: 15px;
  margin-right: 10px;
}
.left_icon {
  transition: all 0.3s ease;
}
.contact_us_button:hover .left_icon {
  transform: translateX(10px);
}

.contact_us_button:hover {
  background-color: #0040d4;
}
