* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-direction-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}